<!--
Example launch file: launches the scan matcher with pre-recorded data
-->

<launch>
  <node pkg="ros_laser_template_matcher" type="laser_template_matcher_node"
    name="laser_template_matcher_node" output="screen">
    <!-- <remap from="scan" to="front_sensor/scan" /> -->
    <remap from="scan" to="/laser_front/scan" />
    <param name="max_iterations" value="10" />
    <param name="publish_tf" value="true" />
    <param name="default_template" value="fibo_elevator_left" />
    <rosparam command="load"
      file="$(find ros_laser_template_matcher)/config/fibo_elevator_left.yaml" />
  </node>

  <!-- Create a parking position -->
  <node pkg="tf" type="static_transform_publisher" name="elevator_stand_broadcaster"
    args="2.23 0 0 0 0 0 1 base_anchor elevator_stand 100" />


</launch>