<!--
Example launch file: launches the scan matcher with pre-recorded data
-->

<launch>
  <arg name="publish_covariance" default="true" />
  <arg name="pcd_path" default="$(find ros_laser_model_matcher)/model/merge/1692886991973653.pcd" />

  <group if="$(arg publish_covariance)">
    <param name="laser_scan_matcher_node/do_compute_covariance" value="1" />
    <param name="laser_scan_matcher_node/publish_pose_with_covariance" value="true" />
    <param name="laser_scan_matcher_node/publish_pose_with_covariance_stamped" value="true" />
  </group>

  <!-- 1. Read PCD file and convert to pointcloud -->
  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud" output="screen"
    args="$(arg pcd_path) 0.1">
    <param name="frame_id" value="anchor" />
  </node>

  <!-- 2. Convert pointcloud to laser scan -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node"
    name="pointcloud_to_laserscan" output="screen">
    <param name="angle_min" value="-3.14159" />
    <param name="angle_max" value="3.14159" />
    <param name="angle_increment" value="0.015" />
    <param name="scan_time" value="0.05" />
    <param name="range_min" value="0.01" />
    <param name="range_max" value="50.0" />
  </node>

  <!-- 3. ICP -->
  <node pkg="ros_laser_model_matcher" type="laser_scan_matcher_node"
    name="laser_scan_matcher_node" output="screen">
    <param name="max_iterations" value="10" />
    <param name="publish_tf" value="true" />
    <param name="model_path"
      value="$(arg pcd_path)" />
  </node>


</launch>