<launch>
    <arg name="publish_covariance" default="true" />
    <arg name="pcd_path" default="$(find ros_laser_model_matcher)/model/front_only.pcd" />

    <!-- 1. Read PCD file and convert to pointcloud -->
    <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud" output="screen"
        args="$(arg pcd_path) 0.1">
        <param name="frame_id" value="anchor" />
    </node>

    <!-- 2. Convert pointcloud to laser scan -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node"
        name="pointcloud_to_laserscan" output="screen">
        <remap from="cloud_in" to="cloud_pcd" />
        <remap from="scan" to="scan_pcd" />
        <param name="angle_min" value="-3.14159" />
        <param name="angle_max" value="3.14159" />
        <param name="angle_increment" value="0.005" />
        <param name="scan_time" value="0.05" />
        <param name="min_height" value="-0.1" />
        <param name="max_height" value="0.1" />
        <param name="range_min" value="0.01" />
        <param name="range_max" value="50.0" />
    </node>


</launch>